<head>
    
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
</head>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-secondary" style="margin-bottom: -10px">
  
  <img src="assets/ezgif.com-gif-maker.jpg" width="100" height="80" style="margin-left: 20px;margin-right:0px;margin-top: -5px;">

    <a class="navbar-brand" style="margin-left: 10px;font-size: 40px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="#">Food recommender System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>      
     
        
              </nav>


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style type="text/css">
	body {
        font-family: 'PT Serif', serif;
    top:0%;
    left:0%;
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(8, 8, 8, 0.884)),url("/assets/cheese.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
	}
	
</style>
</head>

    <body class="main-bg">
        <div class="login-container text-c animated flipInX">
                <div>
                    <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
                </div>
                   
                    <p class="text-whitesmoke">Create Your Account</p>
                <div class="container-content">
                    <form class="margin-t">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password" required="">
                        </div>
                        <button type="submit" class="form-button button-l margin-b">Register</button>
        
                        
                        
                    </form>
                    <p class="margin-t text-whitesmoke"><small> Food Recommender System &copy; 2021</small> </p>
                </div>
            </div>
    
    
      
          
          
         
</body>
</html>                            